<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>глобальное потепление</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
</head>
<body>
    <header>
        <h1>глобальное потепление</h1>
    </header>
    <main>
        <div class="card otstup" style="width: 18rem;">
            <img src="../static/images/medvedi.jpg" style="height: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">белые медведи</h5>
              <p class="card-text">влияние экологии на белых медведей</p>
              <a href="/bears" class="btn btn-primary">узнать подробнее</a>
            </div>
          </div>

          <div class="card otstup" style="width: 18rem;">
            <img src="../static/images/pingvini.jpg"  style="height: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">пингвины</h5>
              <p class="card-text">влияние экологии на пингвинов</p>
              <a href="/penguins" class="btn btn-primary">узнать подробнее</a>
            </div>
          </div>

          <div class="card otstup" style="width: 18rem;">
            <img src="../static/images/derevi.webp"  style="height: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">деревья</h5>
              <p class="card-text">как деревья влияют на экологию</p>
              <a href="/trees" class="btn btn-primary">узнать подробнее</a>
            </div>
          </div>

          <div class="card otstup" style="width: 18rem;">
            <img src="../static/images/vozdyx.jpg" style="height: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">воздух</h5>
              <p class="card-text">влияние экологии на воздух</p>
              <a href="#" class="btn btn-primary">узнать подробнее</a>
            </div>
          </div>

          <div class="card otstup" style="width: 18rem;">
            <img src="../static/images/ptica.jpg"  style="height: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">птицы</h5>
              <p class="card-text">влияние экологии на птиц</p>
              <a href="#" class="btn btn-primary">узнать подробнее</a>
            </div>
          </div>

          <div class="card otstup" style="width: 18rem;">
            <img src="../static/images/givotnie.webp"  style="height: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">животные</h5>
              <p class="card-text">влияние экологии на животных</p>
              <a href="#" class="btn btn-primary">узнать подробнее</a>
            </div>
          </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
</body>
</html>